
/* Defining all the color global to use them */
$backgroundColorHeroArea: #F2F5FA;
$backgroundColorWhite: #ffffff;
$mainHeadingColor: #2d3b8c;
$paragraphColorPrimary:#828791;
$paragraphColorSecondary: #45C1FF;
$buttonColorPrimary:#FF595E;